## Playing Cards: Project 2
### DAY 3 | 1st Feb, 2025
# Part 2 : R Notation
### Learning how to access values once they’ve been stored. Writing; shuffle function and a deal function.
- We have to reshuffle the deck from time to time and have to deal cards from the deck.
- To do this we need to work with the individual values inside our data frame, a task essential to data science.

In [12]:
#learnt writing a dataset in part 1
deck <- data.frame(
  face = c("king", "queen", "jack", "ten", "nine", "eight", "seven", "six",
    "five", "four", "three", "two", "ace", "king", "queen", "jack", "ten", 
    "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace", 
    "king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five", 
    "four", "three", "two", "ace", "king", "queen", "jack", "ten", "nine", 
    "eight", "seven", "six", "five", "four", "three", "two", "ace"),  
  suit = c("spades", "spades", "spades", "spades", "spades", "spades", 
    "spades", "spades", "spades", "spades", "spades", "spades", "spades", 
    "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", 
    "clubs", "clubs", "clubs", "clubs", "clubs", "diamonds", "diamonds", 
    "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", 
    "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "hearts", 
    "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", 
    "hearts", "hearts", "hearts", "hearts", "hearts"), 
  value = c(13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 
    7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 
    10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
)

## 2.1 Selecting Values 
We can extract values from R objects. Syntax to extract values: 
- Write the data frame’s name followed by a pair of square brackets,for eg deck[ , ]
- Write the two indexes separated by comma between the brackets. Indexes tell R which values to return. R will use the first index to subset the rows of the data frame and the second index to subset the columns.
- There are 6 ways to write an index:

### 2.1.1 Positive integers
It treats +ve integers just like ij notation in linear algebra: deck [i,j] returns the value of deck that is in the ith row and the jth column

In [23]:
head(deck,5)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9

In [29]:
deck[1,1]            
deck[3,1]

[1] king
Levels: ace eight five four jack king nine queen seven six ten three two

[1] jack
Levels: ace eight five four jack king nine queen seven six ten three two

In [31]:
#extracting more than one value, use a vector of +ve integers 
deck[2, c(1,2,3)]       #representing second row of deck

  face  suit   value
2 queen spades 12

In [35]:
row3 <- deck[3, c(1,2,3)]     #assiging it to a R object

#### Indexing
In R, it begins at 1

In [46]:
deck[1:2, 1, drop = FALSE]               #when we select one column, we get a vector(it appears as a vector in Rstudio, not in jupyter notebook). so we use drop=false if we prefer a dataframe

  face
1 king
2 queen

### 2.1.2 Negative integers
Negative integers do the exact opposite of positive integers when indexing.
R will return every element except the elements in a negative index.

In [66]:
deck[-(1:50), 1:2]                                #returns last two rows, excluding 1 to 50 and only 2 columns

   face suit
51 two  hearts
52 ace  hearts

In [68]:
deck[-(2:52), 1:3]                           #returns the first row (exclude everything else)

  face suit   value
1 king spades 13

Negative integers are a more efficient way to subset than positive integers if you want to include the majority of a data frame’s rows or columns.
### 2.1.3 Zero 
It returns nothing from a dimension when you use zero as an index. This creates an empty object.

In [81]:
deck[0,0]               #no output

### 2.1.4 Blank Spaces 
Every value in a dimension can be extracted. This lets subset an object on one dimension but not the others, it is useful for extracting entire rows or columns from a data frame.

In [88]:
deck[1, ]           #displaying the complete row 1 and 5
deck[5 , ]

  face suit   value
1 king spades 13

  face suit   value
5 nine spades 9

### 2.1.5 Logical Values 
If you use a vector of TRUEs and FALSEs as an index:
- Each TRUE means "keep this row (or column)"
- Each FALSE means "skip this row (or column)"

In [92]:
deck[1, c(TRUE, TRUE, FALSE)]   #display row 1 with column 1 and 2 but skip column 3

  face suit
1 king spades

### 2.1.6 Names
we can ask for the desired elements by name (if the object have names). This is a common way to extract the columns of a data frame, since columns almost always have names.

In [99]:
deck[2 , c("face","suit","value")]

  face  suit   value
2 queen spades 12

In [103]:
deck[ -(3:52), "value"]          #extracting values for column 1 to 2, exluding 3 to 52. here we also used -ve integer operation

[1] 13 12

## 2.2 Deal A Card

In [118]:
deal <- function(deck){                #making a function that returns first row of a data frame
    deck[1, ] }   
deal(deck)

  face suit   value
1 king spades 13

In [120]:
#when we use deck repeatedly, it shows the same results. 
deal(deck)
deal(deck)

  face suit   value
1 king spades 13

  face suit   value
1 king spades 13

- Deal always returns king of spades as deck doesn’t know that we’ve dealt the card away. So king of spades stays at top of deck ready to be dealt again.
- we fix the problem by shuffling your deck after every deal. Then a new card will always be at the top.

Shuffling is a temporary compromise, there will still be a probability that the king of spades appears twice in a row. But things are not that bad. Casinos use 5 or 6 decks to prevent card counting. The probabilities encountered in those situations are very close to the ones we will create here.

## 2.3 Shuffle The Deck
To shuffle the deck, we need to randomly reorder the rows in the data frame.
1. Start by extracting all rows.

In [132]:
deck2 <- deck[1:52, ]
head(deck2, 5)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9

2. Asking R to extract rows in a different order.

In [137]:
deck3 <- deck [c(3,2,1,4:52), ]
head(deck3,6)

  face  suit   value
3 jack  spades 11
2 queen spades 12
1 king  spades 13
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

3. For rows to come in a random order, we sort the integers from 1 to 52 in a random order and use the result as a row index.
   using "sample" fn to generate random integers

In [148]:
randomInt <- sample (1:52 , size=52)
head(randomInt, 10)               #we customize our results to a specifc number due to large size of dataset.

 [1] 51 30 25 47 21 40 43  2 36 16

In [160]:
dim(randomInt) <- c(1,52)          #converting into a horizontal array
randomInt

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 51   30   25   47   21   40   43   2    36   16    ...   18    46    12
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 24    14    31    27    28    45    11

In [152]:
deck4 <- deck[randomInt, ]
head(deck4)                          #new set is truly shuffled

   face suit     value
51 two  hearts    2
30 ten  diamonds 10
25 two  clubs     2
47 six  hearts    6
21 six  clubs     6
40 king hearts   13

In [172]:
shuffle <- function (cards) {
    random <- sample(1:52, size=52)
    cards[random, ]
    }
deal(deck)                 
deckshuff <- shuffle(deck)
deckshuff

  face suit   value
1 king spades 13

   face  suit     value
38 two   diamonds  2
13 ace   spades    1
26 ace   clubs     1
1  king  spades   13
41 queen hearts   12
27 king  diamonds 13
10 four  spades    4
47 six   hearts    6
43 ten   hearts   10
34 six   diamonds  6
51 two   hearts    2
5  nine  spades    9
17 ten   clubs    10
44 nine  hearts    9
36 four  diamonds  4
12 two   spades    2
6  eight spades    8
14 king  clubs    13
39 ace   diamonds  1
29 jack  diamonds 11
4  ten   spades   10
24 three clubs     3
20 seven clubs     7
25 two   clubs     2
15 queen clubs    12
37 three diamonds  3
45 eight hearts    8
16 jack  clubs    11
31 nine  diamonds  9
32 eight diamonds  8
19 eight clubs     8
30 ten   diamonds 10
7  seven spades    7
28 queen diamonds 12
8  six   spades    6
11 three spades    3
21 six   clubs     6
35 five  diamonds  5
22 five  clubs     5
42 jack  hearts   11
2  queen spades   12
52 ace   hearts    1
50 three hearts    3
46 seven hearts    7
33 seven diamonds  7
40 king  hearts   13
49 four  hearts    4
48 five  hearts    5
23 four  clubs     4
3  jack  spades   11
9  five  spades    5
18 nine  clubs     9

## 2.4 Dollar Signs and Double Brackets
We can extract values from data frames and lists with the " " syntax.Working of " " explained:  " $ "

In [191]:
deck$value       #To select a column from a data frame, write the data frame’s name and the column name separated by a $
                 #R will return all of the values in the column as a vector

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

In [189]:
mean(deck$value)            #we can run a function like mean or median on the values in a variable
median(deck$value)

[1] 7

[1] 7

In [195]:
#use the same $ notation with elements of a list, if they have names. 
#If you subset a list in the usual way, R will return a new list that has the elements you requested. This is true even if you only request a single element.

lst <- list(numbers = c(1, 2), logical = TRUE, strings = c("a", "b", "c"))
lst

$numbers
[1] 1 2

$logical
[1] TRUE

$strings
[1] "a" "b" "c"

In [197]:
lst[1]      #then subset it

$numbers
[1] 1 2

In [199]:
#When you use the $ notation, R will return the selected values as they are, with no list structure around them.
lst$numbers

[1] 1 2

In [201]:
sum(lst$numbers)       #we can immediately feed the results to a function

[1] 3

In [203]:
#If elements in list don't have names, you can use two brackets instead of one, to subset the list. This notation will do the same thing as the $ notation.
lst[[1]]

[1] 1 2

In [205]:
#If you subset a list with single-bracket notation, R will return a smaller list. 
#If you subset a list with double-bracket notation, R will return just the values that were inside an element of the list. 
#You can combine this feature with any of R’s indexing methods:
lst["numbers"]
lst[["numbers"]]

$numbers
[1] 1 2

[1] 1 2

## 2.5 Summary 
- We learned how to access values that have been stored in R.
- We can retrieve a copy of values that live inside a data frame.

R’s notation system can be used to access values in any R object. To use it, write the name of an object followed by brackets and indexes. 
For n-dimensional object, supply n indexes, each separated by a comma.