# Playing Cards: Project 2
## DAY 4 | Feb 2nd, 2025
## Part 3: Modifying Values
- We will learn how to change the actual values stored inside our data frame.
- This provides complete control of your data.
  
-> The point system of our deck will be changed 3 times to match 3 different games: war, hearts, and blackjack.

In [252]:
# Uploading the deck of cards dataset here 
deck <- data.frame(
  face = c("king", "queen", "jack", "ten", "nine", "eight", "seven", "six",
    "five", "four", "three", "two", "ace", "king", "queen", "jack", "ten", 
    "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace", 
    "king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five", 
    "four", "three", "two", "ace", "king", "queen", "jack", "ten", "nine", 
    "eight", "seven", "six", "five", "four", "three", "two", "ace"),  
  suit = c("spades", "spades", "spades", "spades", "spades", "spades", 
    "spades", "spades", "spades", "spades", "spades", "spades", "spades", 
    "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", 
    "clubs", "clubs", "clubs", "clubs", "clubs", "diamonds", "diamonds", 
    "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", 
    "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "hearts", 
    "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", 
    "hearts", "hearts", "hearts", "hearts", "hearts"), 
  value = c(13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 
    7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 
    10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
)

In [ ]:
deck2 <- deck          #making a copy of deck to be manipulated

## 3.1 Changing Values in place

In [165]:
val1 <- c(2,1,0)               #creating an R object
val1[2]                          #selecting second value

[1] 1

In [167]:
val1[2] <- 0                    #we can assign a new value using <- operator 
val1                            #new value assigned at index 2, 0 replaced 1

[1] 2 0 0

In [169]:
val1[c(2,3)] <- c(4,2)          #we can replace multiple values at once only if the number or old and newly given values match
val1

[1] 2 4 2

In [171]:
val1[4] <- 2                #we can also add values that did not exist previously
val1

[1] 2 4 2 2

In [173]:
val1[1:3] <- c(0,2,0)         #we can also replace values like this
val1

[1] 0 2 0 2

using these methods we can add new variable to our data set:

In [ ]:
deck2$new <- 1:52
tail(deck2,5)

In [ ]:
#removing column from a dataframe 
deck2$new <- NULL
tail(deck2, 5)

Replacing the value of aces from 14 (old value 1), as in the game of war aces have a value 14. :

In [ ]:
#before shuffling the cards we know where the aces occur, after every 13 cards. 
deck2 [c(13,26,39,52), ]                         #displaying all 4 aces

In [ ]:
deck2$value[c(13,26,39,52)]                    #displaying there values

In [ ]:
deck2$value [c(13,26,39,52)] <- c(14,14,14,14)        #assigning them a new set of values

In [ ]:
deck2 [ (1:13) ,  ]                 #now u can see the values replaced in place.

In [151]:
shuffle <- function (cards) {
    random <- sample(1:52, size=52)
    cards[random, ]
    }               
deck3 <- shuffle(deck)                      #shuffling deck2 and saving into deck3

## 3.2 Logical Subsetting 
It was easier to find the aces when they were orderly arranged, but once the cards are shuffled we can't find them easily. To solve this issue we can use logical subsetting. 
- It provides an easy way to do targeted extraction and modification with R objects, provides a sort of search and destroy mission inside our own data sets.
- It quickly identifies, extracts, and modifies individual values in our data set. We do not need to know where a value exists. We only need to know how to describe the value with a logical test.

In [175]:
#We will be using logical index system. 
vec <- c(0,1,0,1)
vec[c(FALSE, TRUE, FALSE, FALSE)]          #But typing so many T and F is laborious, so we use Logical tests.

[1] 1

### 3.2.1 Logical Tests
There are 7 logical operators in R that we can use from. Here we will use " == " (equal to) operator.

In [153]:
#finding the aces and replacing value:
deck3$face                      #extracting face column of deck2

 [1] queen nine  four  eight nine  eight queen nine  eight five  four  four
[13] seven six   two   three ace   seven six   ace   five  four  king  ten
[25] ace   king  five  king  ten   seven two   six   jack  ten   ten   jack
[37] three three queen two   king  nine  five  seven ace   jack  two   three
[49] eight queen jack  six
Levels: ace eight five four jack king nine queen seven six ten three two

In [155]:
deck3$face == "ace"         #testing the values equal to ace

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[25]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

In [157]:
sum(deck3$face == "ace")                        #using sum to count the total T's

[1] 4

In [159]:
deck3$value[deck3$face =="ace"]                 #to show the values of aces

[1] 1 1 1 1

In [161]:
deck3$value[deck3$face =="ace"]  <- c(14,14,14,14)       #assigning the aces a new value in deck 3
deck3$value[deck3$face =="ace"]                          #the value is changed to 14

[1] 14 14 14 14

### Second game; Hearts
Every card has a zero value except card in the suit of heart and queen of spades.

In [232]:
deck4 <- deck
deck4$value <- 0            #setting all values to 0
head(deck4, 5)

  face  suit   value
1 king  spades 0
2 queen spades 0
3 jack  spades 0
4 ten   spades 0
5 nine  spades 0

1. Assigning 1 to every card with a suit of heart

In [186]:
#writing a test that identifies and the hearts.
deck4$suit == "hearts"

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[49]  TRUE  TRUE  TRUE  TRUE

In [190]:
deck4$value[ deck4$suit == "hearts" ]       #selecting value of the cards

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0

In [194]:
deck4$value[ deck4$suit == "hearts" ]  <- 1       #replacing value by one
deck4$value[ deck4$suit == "hearts" ]

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1

2. Queen of Spades, It's a bit hard to find her as we need to find the cards that have both a face value equal to queen and a suit value equal to spades.
so we use Boolean operators.
### 3.2.2 Boolean Operator 
They combine multiple logical tests together into a single test, (AND, OR, NOT)

In [200]:
#use in vector, perform element wise execution
a <- c(1, 2, 3)
b <- c(1, 2, 3)
c <- c(1, 2, 4)

a == b
b == c
a == b & b == c

[1] TRUE TRUE TRUE

[1]  TRUE  TRUE FALSE

[1]  TRUE  TRUE FALSE

In [230]:
#finding queen of spades using & operator. 
deck4$face == "queen" & deck4$suit == "spades"

 [1] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

In [234]:
deck4$value [deck4$face == "queen" & deck4$suit == "spades"]             #representing value

[1] 0

In [244]:
deck4$value [deck4$face == "queen" & deck4$suit == "spades"] <- 13      #replacing value
deck4$value [deck4$face == "queen" & deck4$suit == "spades"]            #value has been changed

[1] 13

### Third Game Blackjack 
Each number card has a value equal to its face value. Each face card (king, queen, or jack) has a value of 10. Each ace has a value of 11 or 1, depending on the final results of the game.

In [254]:
deck5 <- deck
head(deck5, 5)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9

- using operator %in%

In [264]:
facecard <- deck5$face %in% c( "king", "queen", "jack")
deck5[facecard, ]

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11

In [270]:
deck5$value [facecard] <- 10            #values changed
head(deck5,13)

   face  suit   value
1  king  spades 10
2  queen spades 10
3  jack  spades 10
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades  1

We are not sure about the value we can assign aces because their exact value will change from hand to hand. At the end of each hand, an ace will be equal to 11 if the sum of the players cards does not exceed 21. Otherwise, the ace will equal 1. 
- The actual value of the ace will depend on the other cards in the players hand. This is a case of missing information. Right now we don't have enough information to assign a correct point value to the ace cards.

##  3.3 Missing information
- Measurement was lost, corrupted, or never taken to begin with,this problem usually occurs in data science, but there is a way to manage missing values in R. 
- The NA character is a special symbol in R. It stands for not available and can be used as a placeholder for missing information

In [280]:
1 + NA      #adding NA to a value 
#R will return a second piece of missing information. We don't have enough information to determine the result.

[1] NA

### 3.3.1 na.rm

In [283]:
c(NA, 1:10)      
mean(c(NA, 1:50))        #If one of the values is NA, the result will be NA

 [1] NA  1  2  3  4  5  6  7  8  9 10

[1] NA

- Most R functions come with the optional argument, na.rm, which stands for NA remove. R will ignore NAs when it evaluates a function if you add the argument na.rm = TRUE.

In [287]:
mean(c(NA, 1:50), na.rm = TRUE)

[1] 25.5

### 3.3.2 is.na
If something is a missing value, any logical test that uses it will return a missing value, even this test:

In [289]:
NA == NA

[1] NA

In [291]:
c(1, 2, 3, NA) == NA       #tests like this wont help you find missing values, as the output will be NA

[1] NA NA NA NA

R supplies a special function that can test whether a value is an NA. The function is named is.na:

In [295]:
is.na(NA)

[1] TRUE

In [297]:
vec <- c(1, 2, 3, NA)
is.na(vec)

[1] FALSE FALSE FALSE  TRUE

- We will set the value of all our aces to NA. This will accomplish two things: 
1. First, it will remind that we do not know the final value of each ace. 
2. Second, it will prevent from accidentally scoring a hand that has an ace before we determine the aces final value.

In [302]:
deck5$value[deck5$face == "ace"] <- NA         #setting value of ace to NA

In [304]:
head(deck5, 13)

   face  suit   value
1  king  spades 10
2  queen spades 10
3  jack  spades 10
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades NA

The Deck is now ready to play blackjack.